.container #parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 10px solid #C0C0C0;
  width: 469px;
  height: 229px;
  background: #FFFFFF;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.container #child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 469px;
}

.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border-bottom: 2px solid #f1f1f1;
  padding: 5px 0px;
  width: 156px;
  margin:10px;
  /*border: 1px solid red;*/
}

.percents {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 83px;
  color: #424242;
  width: 156px;
  height: 83px;
  /*border: 1px solid red;*/
}

.values {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  width: 156px;
/*  border: 1px solid red;*/
}

.button p {
  width: 232px;
  height: 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333;
  border-radius: 7px;
  margin: 40px 0px 30px 0px;
  cursor: pointer;
}

#around {
  border: 2px solid #f1f1f1;
  box-shadow: #3333 0 0 10px;
  width: 469px;
}
