.container{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px;

}

.cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 810px;
}