.alert-body{
    width: 380px;
    border: 1px solid #C4C4C4;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.alert-body h2{
    margin: 0px;
    font-weight: 600;
    padding: 0px;
    text-align: center;
}