span{
    color: white
}


.totem-body{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 180px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 15px;
    color: white;
    margin-bottom: 56px
}

.totem-information{
    display: flex;
    flex-direction: column;
    
    text-align: right;
}

.mb{
    margin-bottom: 5px
}

.totem-identification{
    margin-bottom: 65px;
}

.text-bold{
    font-weight: 700
}

.text-normal{
    font-weight: 300
}


.estado-container{
    display: flex;
    align-items: center;
}


.estado-container{
    margin-bottom: 20px
}


.icon{
    width: 8px;
    height: 8px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: white
}


.text-numbers{
    font-size: 20px
}


.number{
    font-weight: 700; 
}


.totem-name{
    margin-bottom: 5px;
    margin-top: 0;
    margin-bottom: 5px;
}




.icon.disable{
    background-color: #575757
}

.icon.normal{
    background-color: #00C853;
}

.icon.alert{
    background-color: #F0D906
}

.icon.danger{
    background-color: #FF2E00;
}


.disable{
    color: #575757
}

.text.normal{
    color: #00C853;
}

.text.alert{
    color: #F0D906
}

.text.danger{
    color: #FF2E00;
}

.totem-body.disable{
    background-color: #969595;
}
