.containerTotem {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 99, 5%;
}

.containerTotem .item {
    margin: 30px 10px;
    border: 2px solid #f1f1f1;
    width: 35%;
}

.containerTotem .item-chart {
    margin: 30px 10px;
    border: 2px solid #f1f1f1;
    width: 35%;
    padding: 15px;
}

.chart-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border-bottom: 2px solid #f1f1f1;
    padding: 5px 0px;
    margin-bottom: 10px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#canvas-holder {
    width: 40%;
}


/*
@media (max-width: 768px) {
    .containerTotem .item {
        width: 100%;
        margin: 10px;
    }
}
@media (max-width: 992px) {
    .containerTotem .item {
        width: 50%;
        margin: 10px;
    }
}


@media (min-width: 993px) {
    .containerTotem .item {
        width: 50%;
        margin: 10px;
    }
}*/

