/* configuraçõe padrões para toda a página */

body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 35px;
    margin-top: 28px;
    margin-bottom: 30px;
    padding-left: 25px
}

.totens-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px
}

.espace{
    margin-bottom: 30px
}

.text-bold{
    font-weight: bold;
}


nav{
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #E3E3E3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

li a{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: #575757;
}

li{
    margin-right: 20px;
}